<!---------------------------------------------------------->
<!--                    Slideshow container               -->
<!---------------------------------------------------------->
<div class="slideshow-container">
  <div class="mySlides fade">
    <figure>
      <img src="../../assets/img/hero.png" alt="" />
    </figure>
  </div>
  <!---------------------------------------------------------->
  <!--               Next and previous buttons              -->
  <!---------------------------------------------------------->
  <a class="prev" (click)="plusSlides(-1)"
    ><img src="../../assets/img/right.png" alt=""
  /></a>
  <a class="next" (click)="plusSlides(1)"
    ><img src="../../assets/img/left.png" alt=""
  /></a>
</div>
<br />
