<div class="product__container" *ngIf="!product?.visit">
  <!---------------------------------------------------------->
  <!--              Product Header Visited                  -->
  <!---------------------------------------------------------->
  <div class="product__container-header">
    <figure>
      <img [src]="product?.imageUrl" alt="productImage" />
    </figure>
    <div class="d-flex">
      <button class="compare">
        <img
          src="../../assets/img/arrows.svg"
          alt="productCompare"
          title="أضف للمقارنة"
        />
      </button>
      <button class="offer" *ngIf="product?.offer">عرض</button>
      <button class="offer new" *ngIf="!product?.offer">جديد</button>
    </div>
  </div>
  <!---------------------------------------------------------->
  <!--               Product Visited Content                -->
  <!---------------------------------------------------------->
  <div class="product__container-content">
    <h4>{{ product?.name }}</h4>
    <div class="d-flex margin-15" [ngClass]="{ 'margin-0': product?.offer }">
      <figure *ngFor="let star of product?.star">
        <img *ngIf="star" src="../../assets/img/Star.svg" alt="star" />
        <img *ngIf="!star" src="../../assets/img/Star white.svg" alt="star" />
      </figure>
    </div>
    <div *ngIf="product?.offer" class="d-flex offer">
      <h3>{{ product?.offer }}.00</h3>
      <p>ج.م</p>
    </div>
    <div class="d-flex margin-15" [ngClass]="{ 'margin-0': product?.offer }">
      <h5>{{ product?.price }}.00</h5>
      <p>ج.م</p>
    </div>
    <div
      class="product__container-content-action d-flex"
      [ngClass]="{ 'margin-10': product?.offer }"
    >
      <button class="addCartBtn">
        <figure>
          <img
            src="../../assets/img/add_shopping_white18dp.svg"
            alt="addToCart"
          />
        </figure>
        أضف للسلة
      </button>
      <button class="shareBtn">
        <img src="../../assets/img/share-24px.svg" alt="shareProduct" />
      </button>
      <button class="favBtn">
        <img src="../../assets/img/favorite_border-24px.svg" alt="favProduct" />
      </button>
    </div>
  </div>
</div>
