@import "../../general";

// ----------------------------------------------------------
//                   Product Card                           -
// ----------------------------------------------------------
.product__container {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  height: 455px;

  // ----------------------------------------------------------
  //                       Product Header                     -
  // ----------------------------------------------------------
  &-header {
    position: relative;
    height: 261px;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      width: 100%;
    }

    // ----------------------------------------------------------
    //                Product Header Action                     -
    // ----------------------------------------------------------

    .compare {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 5px;
      width: 10%;
      left: 0;
      right: 0;
    }

    .offer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 58px;
      height: 32px;
      background: $Secondary;
      border-radius: 16px;
      opacity: 1;
      color: $white;
      font-size: 0.875rem;
    }

    .new {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary-accent;
    }
  }

  // ----------------------------------------------------------
  //                       Product Content                     -
  // ----------------------------------------------------------
  &-content {
    .offer {
      align-items: center;
      color: #302ca2;
      text-decoration: line-through;

      h3 {
        font-size: 1.125rem;
        font-weight: normal;
      }
    }

    // ----------------------------------------------------------
    //                  Product Content Action                  -
    // ----------------------------------------------------------
    &-action {
      justify-content: space-between;
      align-items: center;

      .addCartBtn {
        text-align: center;
        font-size: 1.125rem;
        letter-spacing: 0px;
        color: $white;
        background-color: $primary;
        opacity: 1;
        border-radius: 10px;
        align-items: center;
        display: flex;
        padding: 5px 20px;
        justify-content: space-between;
        border: none;

        figure {
          width: 18%;
        }
      }

      .shareBtn,
      .favBtn {
        border: none;
        background-color: transparent;
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  500px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 500px) {
  .product__container {
    padding: 20px !important;

    &-header {
      figure {
        width: 80% !important;
      }
    }

    &-content {
      .offer {
        margin: 5px 0;
      }

      &-action {
        margin: 30px 0;

        .addCartBtn {
          justify-content: center;

          figure {
            width: 100%;
          }

          span {
            display: none;
          }
        }

        .tooltiptext {
          width: 150px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  768px and down                -
// ----------------------------------------------------------
@media screen and (max-width: 768px) {
  .product__container {
    padding: 20px 10px;

    &-header {
      figure {
        width: 100%;
      }

      .offer {
        width: 40px;
        height: 20px;
      }

      .compare {
        top: 0;
        width: 10%;
      }
    }

    &-content {
      .offer {
        margin: 0;
      }

      &-action {
        margin: 20px 0;

        .tooltiptext {
          width: 150px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  768px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 768px) {
  .product__container {
    padding: 20px 10px;

    &-header {
      figure {
        width: 80%;
      }

      .compare {
        top: 0;
      }
    }

    &-content {
      .offer {
        margin: 0;
      }

      &-action {
        margin: 20px 0;

        .tooltiptext {
          width: 150px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1200px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 1200px) {
  .product__container {
    padding: 10px;

    &-header {
      figure {
        width: 80%;
      }
      .offer {
        width: 50px;
        height: 30px;
      }
      .compare {
        top: 0;
        width: 15%;
      }
    }

    &-content {
      h4 {
        overflow: visible;
        white-space: normal;
      }
      .offer {
        margin: 0;
      }

      &-action {
        .addCartBtn {
          padding: 2px;
        }

        margin: 10px 0;

        .tooltiptext {
          width: 150px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1500px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 1500px) {
  .product__container {
    padding: 20px 10px;

    &-content {
      h4 {
        overflow: hidden;
        white-space: nowrap;
      }

      &-action {
        .addCartBtn {
          padding: 5px 20px;
        }

        .tooltiptext {
          width: 200px;
        }
      }
    }
  }
}
