<div class="product__container" *ngIf="product">
  <!---------------------------------------------------------->
  <!--              Product Header Visited                  -->
  <!---------------------------------------------------------->
  <div class="product__container-header">
    <figure>
      <img class="productImage" [src]="product?.imageUrl" alt="productImage" />
    </figure>
    <div class="d-flex">
      <button class="compare">
        <img
          src="../../assets/img/arrows.svg"
          alt="productCompare"
          title="أضف للمقارنة"
        />
      </button>
      <div class="offer" *ngIf="product?.offer">عرض</div>
      <div class="offer new" *ngIf="!product?.offer">جديد</div>
    </div>
  </div>
  <!---------------------------------------------------------->
  <!--               Product Visited Content                -->
  <!---------------------------------------------------------->
  <div class="product__container-content">
    <h4>{{ product?.name }}</h4>
    <div class="d-flex margin-10" [ngClass]="{ 'margin-0': product?.offer }">
      <figure *ngFor="let star of product?.star">
        <img *ngIf="star" src="../../assets/img/Star.svg" alt="star" />
        <img *ngIf="!star" src="../../assets/img/Star white.svg" alt="star" />
      </figure>
    </div>
    <div *ngIf="product?.offer" class="d-flex offer">
      <h3>{{ product?.offer }}.00</h3>
      <p>ج.م</p>
    </div>
    <div class="d-flex margin-10" [ngClass]="{ 'margin-0': product?.offer }">
      <h5>{{ product?.price }}.00</h5>
      <p>ج.م</p>
    </div>
    <div
      class="product__container-content-action d-flex"
      [ngClass]="{ 'margin-10': product?.offer }"
    >
      <button
        class="addCartBtn"
        *ngIf="product"
        (click)="addTocart(product)"
        title="أضف للسلة"
      >
        <figure>
          <img
            src="../../assets/img/add_shopping_white18dp.svg"
            alt="addToCart"
            title="أضف للسلة"
          />
        </figure>
        <span> أضف للسلة </span>
      </button>

      <a class="shareBtn tooltip" title="shareBtn">
        <ul class="tooltiptext">
          <li class="social">
            <a href="https://facebook.com" title="فيس بوك" target="_blank">
              <img
                src="../../assets/img/social/facebook.png"
                alt="facebook"
                title="فيس بوك"
              />
            </a>
          </li>
          <li class="social">
            <a href="https://www.messenger.com" title="ماسنجير" target="_blank">
              <img
                src="../../assets/img/social/messenger.png"
                alt="messenger"
                title="ماسنجير"
              />
            </a>
          </li>
          <li class="social">
            <a href="https://gmail.com" target="_blank">
              <img
                src="../../assets/img/social/gmail.png"
                alt="gmail"
                title="جوجل ميل"
              />
            </a>
          </li>
          <li class="social">
            <a href="https://web.whatsapp.com" target="_blank">
              <img
                src="../../assets/img/social/whatsapp.png"
                alt="whatsapp"
                title="واتس اب"
              />
            </a>
          </li>
          <li class="social">
            <a href="https://www.linkedin.com/" target="_blank">
              <img
                src="../../assets/img/social/linkedin.png"
                alt="linkedin"
                title="لينكد ان"
              />
            </a>
          </li>
        </ul>
        <img src="../../assets/img/share-24px.svg" alt="shareProduct" />
      </a>
      <button class="favBtn" (click)="addFavProduct()">
        <img [src]="favIcon" alt="favProduct" />
      </button>
    </div>
  </div>
</div>
