@import "../product-card/product-card.component.scss";

// ----------------------------------------------------------
//                      Product Card Visited                -
// ----------------------------------------------------------
.product__container {
  padding: 5px;
  margin: 18px 0 18px 18px;
  justify-content: space-between;
  height: 140px;

  // ----------------------------------------------------------
  //               Product Card Visited Header                -
  // ----------------------------------------------------------
  &-header {
    width: 35%;
    margin-left: 10px;
    height: auto;

    .compare {
      width: 25%;
    }
  }

  // ----------------------------------------------------------
  //               Product Card Visited Content               -
  // ----------------------------------------------------------
  &-content {
    width: 60%;

    h4 {
      width: 90%;
    }

    // --------------------------------------------------------
    //         Product Card Visited Content Action            -
    // --------------------------------------------------------
    &-action {
      .favBtn {
        margin-left: 15px;
      }
    }
  }
}

.margin-15 {
  margin: 45px 5px 10px;
}

.margin-10 {
  margin: 0 0 10px 0;
  line-height: 1;
}

.margin-top {
  margin-top: 10px;
  line-height: 1;
}

// ----------------------------------------------------------
//                 Media Query  500px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 500px) {
  .product__container {
    margin: 18px 0;

    &-header {
      figure {
        width: 70%;
      }
    }

    &-content {
      .offer {
        margin: 5px 0;
      }

      &-action {
        margin: 30px 0;

        .addCartBtn {
          justify-content: center;
          padding: 5px;

          figure {
            width: 100%;
          }

          span {
            display: none;
          }
        }

        .tooltiptext {
          width: 150px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  500px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 768px) {
  .product__container {
    margin: 18px 0;

    &-header {
      width: 20%;
      height: auto;
      margin: 0;

      figure {
        width: 70%;
      }

      .compare {
        width: 15%;
      }
    }

    &-content {
      width: 80%;
      padding: 10px;

      h4 {
        width: 90%;
      }

      &-action {
        .favBtn {
          margin-left: 15px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1200px and down                -
// ----------------------------------------------------------
@media screen and (max-width: 1200px) {
  .product__container {
    margin: 18px 0;

    &-header {
      width: 20%;
      height: auto;
      margin: 0;

      figure {
        width: 70%;
      }

      .compare {
        width: 15%;
      }

      .offer {
        width: 40px;
        height: 20px;
      }
    }

    &-content {
      width: 80%;
      padding: 10px;

      h4 {
        width: 90%;
      }

      &-action {
        .favBtn {
          margin-left: 15px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  992 and up                  -
// ----------------------------------------------------------
@media screen and (min-width: 992px) {
  .product__container {
    &-header {
      figure {
        width: 50%;
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1200px and up               -
// ----------------------------------------------------------
@media screen and (min-width: 1200px) {
  .product__container {
    margin: 18px 0 18px 18px;

    &-header {
      width: 25%;
      height: auto;
      margin: 0;

      figure {
        width: 100%;
      }

      .compare {
        width: 20%;
      }

      .offer {
        width: 40px;
        height: 20px;
      }
    }

    &-content {
      width: 75%;
      padding: 0;

      h4 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }

      &-action {
        .favBtn {
          margin-left: 15px;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1500px and up               -
// ----------------------------------------------------------
@media screen and (min-width: 1500px) {
  .product__container {
    &-header {
      width: 22%;
      height: auto;
      margin: 0;

      .compare {
        width: 20%;
      }

      .offer {
        width: 40px;
        height: 20px;
      }
    }

    &-content {
      width: 78%;
      padding: 0;

      h4 {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }

      &-action {
        .favBtn {
          margin-left: 15px;
        }
      }
    }
  }
}
