<div class="product__container d-flex" *ngIf="product?.visit">
  <!---------------------------------------------------------->
  <!--                  Product Header                      -->
  <!---------------------------------------------------------->
  <div class="product__container-header">
    <figure>
      <img [src]="product?.imageUrl" alt="productImage" />
    </figure>
    <div class="d-flex">
      <button class="compare">
        <img
          src="../../assets/img/arrows.svg"
          alt="productCompare"
          title="أضف للمقارنة"
        />
      </button>
      <button class="offer" *ngIf="product?.offer">عرض</button>
      <button class="offer new" *ngIf="!product?.offer">جديد</button>
    </div>
  </div>
  <!---------------------------------------------------------->
  <!--                  Product Content                     -->
  <!---------------------------------------------------------->
  <div class="product__container-content">
    <h4>{{ product?.name }}</h4>
    <div *ngIf="product?.offer" class="d-flex offer">
      <h3>{{ product?.offer }}.00</h3>
      <p>ج.م</p>
    </div>
    <div class="d-flex margin-10" [ngClass]="{ 'margin-0': product?.offer }">
      <h5>{{ product?.price }}.00</h5>
      <p>ج.م</p>
    </div>
    <div class="product__container-content-action d-flex margin-15" [ngClass]="{ 'margin-top': product?.offer }" >
      <button class="shareBtn" *ngIf="product" (click)="addTocart(product)">
        <figure>
          <img
            src="../../assets/img/add_shopping_cart-black-18dp.svg"
            alt="addToCart"
            title="أضف للسلة"
          />
        </figure>
      </button>
      <div class="d-flex">
        <button class="favBtn" (click)="addFavProduct()">
          <img
            [src]="favIcon"
            alt="favProduct"
          />
        </button>
        <button class="shareBtn">
          <img src="../../assets/img/share-24px.svg" alt="shareProduct" />
        </button>
      </div>
    </div>
  </div>
</div>
