@import "../product-card/product-card.component.scss";

// ----------------------------------------------------------
//                      Product Card Visited                -
// ----------------------------------------------------------
.product__container {
  padding: 5px;
  margin: 15px;
  justify-content: space-between;

  // ----------------------------------------------------------
  //               Product Card Visited Header                -
  // ----------------------------------------------------------
  &-header {
    width: 35%;
    margin-left: 10px;
  }
  // ----------------------------------------------------------
  //               Product Card Visited Content               -
  // ----------------------------------------------------------
  &-content {
    width: 60%;
    // --------------------------------------------------------
    //         Product Card Visited Content Action            -
    // --------------------------------------------------------
    &-action {
      .favBtn {
        margin-left: 15px;
      }
    }
  }
}

.margin-15 {
  margin: 15px 0 10px 0;
}

// ----------------------------------------------------------
//                 Media Query  400px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 599px) {
}

// ----------------------------------------------------------
//                 Media Query  600px and down              -
// ----------------------------------------------------------
@media screen and (min-width: 600px) {
}

// ----------------------------------------------------------
//                 Media Query  768px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 768px) {
}

// ----------------------------------------------------------
//                 Media Query  992px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 992px) {
}
