@import "../../general";

// ----------------------------------------------------------
//                         Navbar                           -
// ----------------------------------------------------------
.navbar {
  margin-top: 20px;

  // ----------------------------------------------------------
  //                      Navbar Container                    -
  // ----------------------------------------------------------
  &__container {
    justify-content: space-between;
    align-items: center;

    // ----------------------------------------------------------
    //                         Navbar Logo                      -
    // ----------------------------------------------------------
    &-logo {
      width: 5%;
    }

    // ----------------------------------------------------------
    //                         Navbar Search                     -
    // ----------------------------------------------------------
    &-search {
      width: 80%;
      display: flex;
      align-items: center;

      figure {
        width: 1%;
        position: absolute;
        z-index: 999;
        margin-right: 10px;
      }

      input {
        position: relative;
        padding: 10px 40px 10px 10px;
        background: #efeef8;
        border-radius: 10px;
        border: none;
        width: 100%;
        font-size: 0.75rem;
        color: $primary;
      }

      ::placeholder {
        color: $primary;
        opacity: 1;
      }

      input:focus-visible {
        outline: none !important;
      }
    }

    // ----------------------------------------------------------
    //                       Navbar Profile                     -
    // ----------------------------------------------------------
    &-profile {
      background: #efeef8;
      border-radius: 10px;
      padding: 8px;
      display: flex;
      justify-content: center;

      figure {
        width: 100%;
      }
    }

    // ----------------------------------------------------------
    //                        Navbar Shop                       -
    // ----------------------------------------------------------
    &-shop {
      position: relative;
      background: #efeef8;
      border-radius: 10px;
      width: 9%;
      align-items: center;
      display: flex;
      padding: 5px;
      justify-content: space-evenly;

      figure {
        width: 20%;
      }

      span {
        position: absolute;
        top: -10px;
        left: -10px;
        background: $primary;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
      }
    }
  }

  .background {
    background: $back-ground;
    padding: 0;
  }

  // ----------------------------------------------------------
  //                         Navbar Links                     -
  // ----------------------------------------------------------
  &__links {
    .down {
      width: 20%;
      transform: rotate(90deg);
    }

    ul {
      display: flex;
      width: 40%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      li {
        width: 15%;

        .active {
          background: #efeef8;
          padding: 10px 30px;
          font-weight: bold;
        }

        a:hover {
          font-weight: bold;
        }

        a {
          font-size: 1rem;
          text-align: center;
          letter-spacing: 0px;
          color: $primary;
          opacity: 1;
          justify-content: space-evenly;
        }
      }
    }

    // ----------------------------------------------------------
    //                      Navbar Dropdown                     -
    // ----------------------------------------------------------

    li.dropdown {
      // display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .topnav {
      overflow: hidden;
    }

    .topnav li a {
      display: flex;
    }

    .topnav .icon {
      display: none;
      float: left;
      padding: 5px;
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  500px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 500px) {
  .navbar {
    &__container {
      &-logo {
        width: 13% !important;
      }

      &-shop {
        width: unset !important;
        padding: 5px;
        span {
          height: 20px;
          width: 20px;
        }
        div {
          display: none;
        }

        figure {
          width: 100% !important;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  600px and down              -
// ----------------------------------------------------------
@media screen and (max-width: 600px) {
  .navbar {
    &__container {
      &-logo {
        width: 10%;
      }

      &-search {
        width: 55%;

        figure {
          width: 3%;
        }
      }

      &-profile {
        padding: 5px;
      }

      &-shop {
        width: 20%;
        span {
          height: 20px;
          width: 20px;
        }
        figure {
          width: 15%;
        }
      }
    }

    &__links {
      .down {
        width: 4%;
        transform: rotate(90deg);
      }

      ul {
        display: block;
        width: 100%;

        li {
          width: 100%;
        }
      }
    }

    .topnav.responsive {
      position: relative;
    }

    .topnav li {
      display: none;
    }

    .topnav a.icon {
      float: left;
      display: block;
    }

    .topnav.responsive li a.icon {
      position: absolute;
      left: 0;
      top: 0;
    }

    .topnav.responsive li {
      float: none;
      display: block;
      text-align: right;
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  600px and up              -
// ----------------------------------------------------------
@media screen and (min-width: 600px) {
  .navbar {
    &__container {
      &-logo {
        width: 10%;
      }

      &-search {
        width: 60%;

        figure {
          width: 2%;
        }
      }

      &-profile {
        padding: 5px;
      }

      &-shop {
        width: 20%;

        figure {
          width: 15%;
        }
      }
    }

    &__links {
      ul {
        width: 100%;

        li {
          width: unset;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  786px and up              -
// ----------------------------------------------------------
@media screen and (min-width: 786px) {
  .navbar {
    &__container {
      &-logo {
        width: 8%;
      }

      &-search {
        width: 60%;

        figure {
          width: 2%;
        }
      }

      &-shop {
        width: 20%;
      }
    }

    &__links {
      ul {
        width: 60%;

        li {
          width: unset;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  992px and up                -
// ----------------------------------------------------------
@media screen and (min-width: 992px) {
  .navbar {
    &__container {
      &-logo {
        width: 6%;
      }

      &-search {
        width: 70%;

        figure {
          width: 1%;
        }
      }

      &-shop {
        width: 15%;
      }
    }

    &__links {
      ul {
        width: 50%;

        li {
          width: unset;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1200px and up               -
// ----------------------------------------------------------
@media screen and (min-width: 1200px) {
  .navbar {
    &__container {
      &-logo {
        width: 5%;
      }

      &-search {
        width: 80%;

        figure {
          width: 1%;
        }
      }

      &-shop {
        width: 10%;
      }
    }
  }
}

// ----------------------------------------------------------
//                 Media Query  1500px and up               -
// ----------------------------------------------------------
@media screen and (min-width: 1500px) {
  .navbar {
    &__container {
      &-logo {
        width: 5%;
      }

      &-search {
        width: 80%;

        figure {
          width: 1%;
        }
      }

      &-profile {
        figure {
          width: 100%;
        }
      }

      &-shop {
        width: 9%;

        figure {
          width: 20%;
        }
      }
    }

    &__links {
      ul {
        width: 35%;

        li {
          width: unset;
        }
      }
    }
  }
}
