<nav class="navbar">
  <div class="navbar__background">
    <div class="navbar__container d-flex container">
      <!---------------------------------------------------------->
      <!--                    Navbar Logo                       -->
      <!---------------------------------------------------------->
      <a href="#" class="navbar__container-logo">
        <img src="../../assets/img/navbar/logo@2x.png" alt="logo" />
      </a>
      <!---------------------------------------------------------->
      <!--                  Navbar Search                       -->
      <!---------------------------------------------------------->
      <div class="navbar__container-search d-flex">
        <figure>
          <img src="../../assets/img/navbar/search.png" alt="search" />
        </figure>
        <input
          type="search"
          placeholder="عم تبحت ؟"
          (keyup)="searchProduct($event)"
        />
      </div>
      <!---------------------------------------------------------->
      <!--                  Navbar Profile Icon                 -->
      <!---------------------------------------------------------->
      <a href="#" class="navbar__container-profile">
        <figure>
          <img src="../../assets/img/navbar/person-24px.svg" alt="personFile" />
        </figure>
      </a>
      <!---------------------------------------------------------->
      <!--                  Navbar Cart Icon                    -->
      <!---------------------------------------------------------->
      <a href="#" class="navbar__container-shop">
        <div>سلة التسوق</div>

        <figure>
          <img
            src="../../assets/img/navbar/shopping_cart-24px.svg"
            alt="shopCart"
          />
        </figure>
        <span *ngIf="count">
          {{ count == 0 || count == null ? "" : count }}
        </span>
      </a>
    </div>
  </div>
  <!---------------------------------------------------------->
  <!--                  Navbar Navigation                   -->
  <!---------------------------------------------------------->

  <div class="background padding">
    <div class="navbar__links container">
      <ul class="topnav" id="myTopnav">
        <li class="dropdown">
          <a class="d-flex dropbtn" href="#">
            الاقسام
            <img
              class="down"
              src="../../assets/img/navbar/chevron_left-24px.svg"
              alt="dropDown"
            />
          </a>
          <div class="dropdown-content">
            <a href="#">قائمة الأمنيات</a>
            <a href="#">قائمة الأمنيات</a>
          </div>
        </li>
        <li>
          <a class="active" href="#"> الرئيسية</a>
        </li>
        <li>
          <a href="#">قائمة الأمنيات</a>
        </li>
        <li>
          <a href="#">تواصل معنا</a>
        </li>
        <li>
          <a href="#">من نحن</a>
        </li>
        <a href="#" class="icon" (click)="navbar()">
          <img src="../../assets/img/navbar/menu.png" alt="menu" />
        </a>
      </ul>
    </div>
  </div>
</nav>
