@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-size: 16px;
  width: 1920px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
}

h2 h3 h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

.padding {
  padding-bottom: 20px;
}

body {
  font-family: "Cairo", sans-serif !important;

  text-align: right;
  direction: rtl;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: $primary;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

button,
input {
  font-family: "Cairo", sans-serif !important;
  cursor: pointer;
}

.margin-10 {
  margin: 10px 0;
}

.margin-0 {
  margin: 0;
  line-height: 1;
}

// .margin-10 {
//   margin-top: 10px;
// }

h4 {
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  width: 200px;
  background-color: #f6f6f6;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.social {
  padding: 0 5px;
}
