$white:#FFFFFF;
$back-ground:#F6F6F6;
$textBlack:#032326;
$divider-gray:#B7AECA;
$primary-accent:#23104E;
$primary:#302CA2;
$Secondary:#26A37C;
$shadow:#00000033;
$startOn:#ffe621;
$startOff:#eaeaea;
