<app-navbar></app-navbar>
<main>
  <!---------------------------------------------------------->
  <!--                    Slideshow                         -->
  <!---------------------------------------------------------->
  <div class="slider__container">
    <app-home-slider></app-home-slider>
  </div>

  <div class="product-List">
    <div class="product-List__container d-flex">
      <!---------------------------------------------------------->
      <!--           Product List Visited container             -->
      <!---------------------------------------------------------->
      <div class="product-List__container-visited">
        <h4>منتجات تصفحتها مؤخرا</h4>
        <div class="product-List__container-visited_list">
          <app-visit-product-card
            *ngFor="let product of productList"
            [product]="product"
          ></app-visit-product-card>
        </div>
      </div>
      <!---------------------------------------------------------->
      <!--              Product List container                  -->
      <!---------------------------------------------------------->
      <div class="product-List__container-all">
        <header class="product-List__container-all_header d-flex">
          <h1>وصل حديثا</h1>
          <div class="divider"></div>
          <button type="button" (click)="showAll()">عرض الكل</button>
        </header>
        <div class="product-List__container-all_list d-flex">
          <app-product-card
            class="product"
            *ngFor="let product of products"
            [product]="product"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</main>
